#contenIcon{
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
#icono{
  font-size: 25px;
  margin-top: 12px;
}
#contenmain{
  margin-top: -10px;
  height: 76vh;
}
#contenedorDocentes{
  height: 75vh;
  width: 100%;
}
.titleTeachers{
  margin-top: 18px;
  margin-left: 3px;
}
.lastName{
  width: 50%;
}
.card{
  margin-right: 10px;
  margin-top: 5px;
}
.menuOption{
  display: flex;
  justify-content: flex-end;
}
.iconoOption{
  margin-top: 2px;
  margin-right: 10px;
  cursor: pointer;
}
.modelInput{
  width: 100%;
}
.inputOption{
  width: 50%;
}
