
<div  class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 style="margin-top: 10px;">Lista de padres en general</h3>
      </div>
      <div id="contenIcon" class="col-md-1" >
        <i id="icono" class="fas fa-graduation-cap"></i>
      </div>
      <div id="contenIcon" class="col-md-1" >
        <i id="icono" class="fas fa-comment-alt"></i>
      </div>
      <div id="contenIcon" class="col-md-1" >
      </div>
      <div id="contenIcon"  class="col-md-2">

      </div>
    </div>
  </div>

  <div id="contenedorPadres" >
    <div *ngIf="Mvacio">
      <app-mostrar-lista-vacia></app-mostrar-lista-vacia>
    </div>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Apoderado</th>
            <th scope="col">DNI</th>
            <th scope="col">email</th>
            <th scope="col">Celularr</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let data of listaPadresGeneral; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{data.nombre_apoderado}} {{data.apellidoPaterno_apoderado}} {{data.apellidoMaterno_apoderado}}</td>
            <td>{{data.DNI_apoderado}}</td>
            <td>{{data.email_apoderado}}</td>
            <td>{{data.celular_apoderado}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
