<div class="container-fluit">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="form-inline" id="izquierdoRow">
          <mat-form-field class="inputBuscar">
            <mat-label>Buscar Estudiante</mat-label>
            <input  matInput autocomplete="off">
            <mat-icon matSuffix><span style="font-size:25px;" class="material-icons">search</span></mat-icon>
          </mat-form-field>
          <a id="buttonRedactar" href="#" class="btn btn-dark">Redactar <i class="fas fa-comment-alt"></i></a>
        </div>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>

<div class="container mt-4">

<div class="conteedorLista">
  <div class="row">
    <div class="col-sm-6" *ngFor="let item of listaAlumnos">
      <div class="card mb-3">
        <div class="card-body">
            <h3 ><i class="fas fa-user-graduate"></i> Rojas Carrasco Irineo</h3>
            <h5 class="text-center" id="titleP">Apoderado(a) <i class="fas fa-user-tie" style="font-size: 24px;"></i></h5>
            <div><i id="icon" class="far fa-id-card"></i> Quispe Vargas Ronal</div>
            <div><i id="icon" class="fas fa-envelope"></i> QuispeRonal@gmail.com</div>
            <div><i id="icon" class="fas fa-mobile-alt"></i> 932347569</div>
            <div class="mt-3">
              <a href="#" class="btn btn-dark">Llamar atención <i class="fas fa-phone-square"></i></a>
              <a href="#" class="btn btn-success ml-1">Enviar <i class="fas fa-comment-alt"></i></a>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>

</div>
