
.inputBuscar{
  margin-left: 18px;
  width: 80%;
}
.contenedor{
  height:75vh ;
  padding: 5px;
  overflow: hidden;
  overflow-y: scroll;
  cursor: pointer;
}
.contenedor::-webkit-scrollbar{
  height: 5px;
  width: 5px;
}
.contenedor::-webkit-scrollbar-thumb{
  background:#265B8C;
  border-radius: 10px;
}
.card{
  margin: 10px;
}
#itemNombre{
  margin-top: -25px;
  margin-left: 5px;
}
