<div [ngSwitch]="vistaAlumnos">
  <div *ngSwitchCase="true">
          <br>
      <div class="container">
        <div class="row">
          <div (click)="volverListaGradoSeccion()" id="contenIcon"  class="col-md-1">
            <i id="icono" class="fas fa-arrow-alt-circle-left"></i>
          </div>
          <div class="col-md-5 mt-3" style="font-size: 17px;">
            <i class="fas fa-chalkboard"></i> Datos de los alumnos del {{grado}} {{seccion}}
          </div>
          <div id="contenIcon"  class="col-md-1">
          </div>
          <div (click)="optionAlumnos()" id="contenIcon" class="col-md-1" title="Lista alumnos">
            <i  id="icono" class="fas fa-graduation-cap"></i> <p class="titleIcon">Alumnos</p>
          </div>
          <div (click)="optionPadres()" id="contenIcon" class="col-md-1" title="Lista padres">
            <span id="icono" class="material-icons">supervised_user_circle</span> <p class="titleIcon">Padres</p>
          </div>
          <div (click)="optionAddAlumno()" id="contenIcon" class="col-md-1" title="Añadir alumno">
            <i id="icono" class="fas fa-user-plus"></i> <p class="titleIcon">Nuevo</p>
          </div>
          <div class="col-md-2">

          </div>
        </div>
      </div>

      <br>

      <div [ngSwitch]="escogeOption">

        <div *ngSwitchCase="'listaAlumno'">
          <app-lista-alumnado></app-lista-alumnado>
        </div>
        <div *ngSwitchCase="'listaPadres'">
          <app-lista-padres></app-lista-padres>
        </div>
        <div *ngSwitchCase="'AddAlumnos'">
          <div class="container">
            <app-registro-estudiante></app-registro-estudiante>
          </div>
        </div>

      </div>

  </div>
  <div *ngSwitchCase="false">
    <app-list-grado-seccion></app-list-grado-seccion>
  </div>

</div>
