
  <div class="container" id="contenedor">
    <div class="row">
      <div class="col-md-7">
        <img class="imgDecore" [src]="imagen" alt="">
      </div>
      <div class="col-md-5" id="conten-form">
        <div>
          <h2 class="text-center">Institución educativa Belén de Osma y Pardo</h2>
        </div>
        <form [formGroup]="FormularioCreado" class="formulario">
          <div class="text-center" style="font-size:35px;">
            <i class="fas fa-user-tie"></i>
          </div>

          <mat-form-field style="width: 100%;">
            <mat-label>Tipo de personal</mat-label>
            <mat-select formControlName="tipo">
              <div>
                <mat-option value="1">Director</mat-option>
                <mat-option value="2">Docente</mat-option>
                <mat-option value="3">Secretaria</mat-option>
              </div>
            </mat-select>
          </mat-form-field>

          <div class="form-group">
            <mat-form-field class="correo">
              <mat-label>Usuario</mat-label>
              <input  matInput autocomplete="off" maxlength="8" formControlName="user">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="contrasenia" appearance="legacy">
              <mat-label>Contraseña</mat-label>
              <input #passw type="password" matInput formControlName="pass" maxlength="20">
              <mat-icon *ngIf="!verPass" style="cursor: pointer;" (click)="verPassw()" matSuffix><span class="material-icons">visibility</span></mat-icon>
              <mat-icon *ngIf="verPass"  style="cursor: pointer;" (click)="noPassw()" matSuffix><span class="material-icons">visibility_off</span></mat-icon>
            </mat-form-field>
          </div>
          <div *ngIf="mfaild" class="alert alert-danger" role="alert">
            Datos incorrectos, intentelo nuevamente
          </div><!--
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" [checked]="clickado">
            <label class="form-check-label" for="exampleCheck1">Recuerdamelo</label>
          </div>-->
          <div class="form-inline">
            <button type="button" class="btn btn-dark mb-3" (click)="Ingresar()" [disabled]="FormularioCreado.invalid">Ingresar</button>
            <p class="ml-5 mt-3 mb-3"><a [routerLink]="['/password-recovery']">Olvide mi password</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#1c5890" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Ingresando </p></ngx-spinner>
