<div class="fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4" style="background:#265B8C;">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark" id="menu" style="background:#265B8C;">
    <div>
      <button id="buttonMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <i id="imgUser" class="fas fa-user"> <small class="user"> Antonio</small></i>
    </div>
    <div>
      <mat-icon id="imgBell" matBadge="10" matBadgeColor="warn">notifications</mat-icon>
      <span id="imgBell" class="material-icons">settings</span>
    </div>
  </nav>
</div>

<!--Panel control-->
<app-panel-control></app-panel-control>

<div class="fixed-bottom">
  <nav class="navbar">
    <div></div>
    <button id="newMessge" mat-fab color="warn" aria-label="Example icon button with a home icon">
      <span class="material-icons">
        chat_bubble
        </span>
    </button>
  </nav>
</div>
