<div class="fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4" style="background:#265B8C;">
      <h5 class="text-white h4">WillanaApp</h5>
      <span class="text-muted">Perfil</span>
      <div>
        <span (click)="salir()" class="text-muted">Cerrar Sesión</span>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark" id="menu" style="background:#265B8C;">
    <div>
      <button id="buttonMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <i id="imgUser" class="fas fa-user"> <small class="user"> Antonio</small></i>
    </div>
    <div>
      <mat-icon id="imgBell" matBadge="10" matBadgeColor="warn">notifications</mat-icon>
      <span id="imgBell" class="material-icons">settings</span>
    </div>
  </nav>
</div>
<!--Mensaje al salir-->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#1c5890" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Cerrando Sesión </p></ngx-spinner>
<!--Panel control-->
<app-panel-control></app-panel-control>

<div class="fixed-bottom">
  <nav class="navbar">
    <div></div>
    <button id="newMessge" mat-fab color="warn" aria-label="Example icon button with a home icon">
      <span class="material-icons">
        chat_bubble
        </span>
    </button>
  </nav>
</div>

