.contenedorForm{
  width: 45%;
  height: auto;
  margin: 0 auto;
  padding: 25px;
  background:#FFFF;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
}
.modelInput{
  width: 100%;
}
#contenLastname{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
#dataStudent{
  margin-top: 47px;
}
#bottonRegisters{
  display: flex;
  justify-content: flex-end;
}
#radio{
  cursor: pointer;
}
.lastName{
  width: 48%;
}
.option{
  margin-top: -10px;
}
.inputOption{
  width: 50%;
}
@media (max-width:760px){
  .contenedorForm{
    width: 100%;
    border-radius: none;
    box-shadow: none;
  }
  #dataStudent{
    margin-top: -10px;
  }
}
