.contenedorForm{
  width: 70%;
  margin: 0 auto;
}
.modelInput{
  width: 100%;
}
#contenLastname{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
#dataStudent{
  margin-top: 47px;
}
#bottonRegisters{
  display: flex;
  justify-content: flex-end;
}
.lastName{
  width: 48%;
}

@media (max-width:760px){
  .contenedorForm{
    width: 100%;
    border-radius: none;
    box-shadow: none;
  }
  #dataStudent{
    margin-top: -10px;
  }
}
