<div  class="container">
  <div id="contenedorAlumnos">
    <div class="row">
      <div class="col-md-6" *ngFor="let item of listadoAlumno">
        <div class="card">
          <div class="card-header">
            <i class="fas fa-user-graduate"></i> Rojas Carrasco Irineo
          </div>
          <div class="card-body">
            <h3 class="text-center" id="titleP">Apoderado(a) <i class="fas fa-user-tie" style="font-size: 24px;"></i></h3>
            <div><i id="icon" class="far fa-id-card"></i> Quispe Vargas Ronal</div>
            <div><i id="icon" class="fas fa-envelope"></i> QuispeRonal@gmail.com</div>
            <div><i id="icon" class="fas fa-mobile-alt"></i> 932347569</div>
            <div class="mt-3">
              <a href="#" class="btn btn-dark">Llamada de atención</a>
              <a href="#" class="btn btn-success ml-1">nuevo <i id="icono" class="fas fa-comment-dots"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
