<nav class="navbar navbar-expand-lg" style="background:#265B8C;">
  <a class="navbar-brand" href="#" (click)="SideBar()"><i class="fas fa-bars"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>

<div id="contenedorGeneral">
  <div #sideBar class="contenedorMenu">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, et! Corporis aliquam minus quod? Libero, doloremque beatae numquam
    tenetur nam eveniet nemo voluptatum tempore quibusdam possimus at officiis. Beatae, quas.
  </div>
  <div class="contenPrincipal">
    <div class="container">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non consequatur amet repellat, nam nesciunt facere modi excepturi officiis atque
      itaque cupiditate eaque accusantium mollitia aliquam cum, ratione rem, obcaecati ea.
    </div>
  </div>
</div>
