<nav class="navbar navbar-expand-lg navbar-light" style="background: #265B8C;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-brand">
      <h3 (click)="Perfil()" style="cursor: pointer;margin-top: 10px; color:#FFF"><i class="fas fa-user-circle"></i> {{NombreUserCurrent}}</h3>
  </div>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <div id="menu" (click)="BanSalida()" title="Bandeja de salida">
        <h3><i class="fas fa-file-upload"></i> Bandeja de salida</h3>
      </div>
      <div id="menu"  (click)="Lalumnos()" title="Lista alumnos">
        <h3><i class="fas fa-user-graduate"></i> Alumnos</h3>
      </div>
      <div id="menu"  (click)="ListaPadres()" title="Lista padres">
        <h3><i class="fas fa-users"></i> Padres</h3>
      </div>
      <div id="menu"  (click)="Ldocentes()" title="Lista docentes">
        <h3><i class="fas fa-chalkboard-teacher"></i> Docentes</h3>
      </div>
      <div (click)="ListaBorradorres()" id="menu" title="Lista borradores">
        <h3><i class="fas fa-eraser"></i> Borradores</h3>
      </div>
    </ul>
    <span class="navbar-text">
      <div>
        <!--<mat-icon style="color:#FFF" matBadge="10" matBadgeColor="warn">notifications</mat-icon>-->
        <i style="color:#FFF; cursor: pointer;font-size: 18px;" id="imgBell" class="fas fa-sign-in-alt" (click)="salir()"></i>
      </div>
    </span>
  </div>
</nav>

<div id="contenG" class="container-fluit">
  <div class="row">

    <div id="contenCuerpo" class="col-md-12">

      <div [ngSwitch]="opcionEscogida">
        <div *ngSwitchCase="'Bsalida'">
          <app-bandeja-entrada></app-bandeja-entrada>
        </div>
        <div *ngSwitchCase="'Lalumnos'">
          <app-list-grado-seccion></app-list-grado-seccion>
        </div>
        <div *ngSwitchCase="'Ldocentes'">
          <app-lista-docentes></app-lista-docentes>
        </div>
        <div *ngSwitchCase="'Rpadres'">
          <app-padres-general></app-padres-general>
        </div>
        <div *ngSwitchCase="'Lborradores'">
          <app-lista-borradores></app-lista-borradores>
        </div>
        <div *ngSwitchCase="'Perfil'">
          <app-perfil></app-perfil>
        </div>
      </div>

    </div>
  </div>
</div>

<!--Mensaje al salir-->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#1c5890" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Cerrando Sesión </p></ngx-spinner>
