<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <div class="dropdown">
      <h3 style="cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> Emerson</h3>
      <div class="dropdown-menu">
        <button class="dropdown-item" type="button"><i class="fas fa-power-off"></i> Cerrar sesión </button>
        <button class="dropdown-item" type="button"><i class="fas fa-cog"></i> Configuración</button>
        <button class="dropdown-item" type="button"><i class="fas fa-id-badge"></i> Perfil</button>
      </div>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <div id="menu" (click)="BanSalida()">
        <h3><i class="fas fa-file-upload"></i> Bandeja de salida</h3>
      </div>
      <div id="menu"  (click)="Lalumnos()">
        <h3><i class="fas fa-user-graduate"></i> Alumnos</h3>
      </div>
      <div id="menu"  (click)="Ldocentes()">
        <h3><i class="fas fa-chalkboard-teacher"></i> Docentes</h3>
      </div>
      <div (click)="Rcomunicado()" id="menu"  >
        <h3><i class="fas fa-pen-square"></i> Redactar</h3>
      </div>
      <div id="menu" >
        <h3><i class="fas fa-eraser"></i> Borradores</h3>
      </div>
    </ul>
    <span class="navbar-text">
      <div>
        <mat-icon matBadge="10" matBadgeColor="warn">notifications</mat-icon>
        <span id="imgBell" class="material-icons">settings</span>
      </div>
    </span>
  </div>
</nav>

<div id="contenG" class="container-fluit m-3">
  <div class="row">

    <div id="contenCuerpo" class="col-md-12">

      <div [ngSwitch]="opcionEscogida">
        <div *ngSwitchCase="'Bsalida'">
          <app-bandeja-entrada></app-bandeja-entrada>
        </div>
        <div *ngSwitchCase="'Lalumnos'">
          <app-alumnado></app-alumnado>
        </div>
        <div *ngSwitchCase="'Ldocentes'">
          <app-lista-docentes></app-lista-docentes>
        </div>
        <div *ngSwitchCase="'Rcomunicado'">
          <app-redactar-comunicado></app-redactar-comunicado>
        </div>
      </div>

    </div>
  </div>
</div>
