
#contenCuerpo{
  height: 86vh;
  background: #FFF;
  overflow-y: scroll;
}
#contenCuerpo::-webkit-scrollbar{
  height: 5px;
  width: 8px;
}
#contenCuerpo::-webkit-scrollbar-thumb{
  background: #1C5890;
  border-radius: 10px;
}
#imgBell{
  margin-left: 15px;
}
#menu{
  margin-bottom: -12px;
  cursor: pointer;
  color: #FFF;
}
#contenG{
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
}
h3{
  margin-left: 35px;
  font-size: 15px;
}
h3 i{
  font-size: 22px;
}

@media (max-width:990px){
  #menuItems{
    display: none;
  }
  #contenCuerpo::-webkit-scrollbar{
    display: none;
  }
  #menu{
    margin: 5px;
  }
}
